<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style1.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <form action="" method="POST">
        <div class="container">
            <center>
                <h1 style="font-family: 'Ubuntu', sans-serif;"> Text Summarizer</h1>
            </center>
            <hr>
            <p style="font-family: 'Montserrat', sans-serif; margin-bottom: 0; font-size: 1.2rem;">Paste your text below:</p> 
            <textarea cols="80" rows="10" placeholder="Enter Text to summarize" value="address" required name="summary"></textarea>
            <div style="text-align: center;">
                <button type="submit" class="registerbtn" name="summarize">Summarize</button>
            </div>
        </div>
    </form>
</body>

</html>