<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="../static/style3.css">
     <title>Summary</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>
<body>

<center>
  <h1 style="font-family: 'Ubuntu', sans-serif; margin-bottom: 50px; color: #393b44;">Summary</h1>
</center>
<center>
  <div class="container">
      <div>
          <div class="box">
              <img src="{{image}}" width="300" height="300">
          </div>
      </div>
      <div>
          <p style="font-family: 'Montserrat', sans-serif; margin-bottom: 0;">{{summary}}
          </p>
          <audio controls>
          <source src="{{audio}}" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
      </div>
  </div>
  </center>

 <div class="form-holder">
     <form action="" method="POST">
        <button type="submit" name="post">POST</button>
     </form>
    </div>
</body>
</html>
